---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-user-settings
  namespace: flux-system
data:
  CAPI_CLUSTER_NAME: ottawa-proxmox
  CAPI_NAMESPACE: default
  CAPI_K8S_VERSION: v1.35.0
  CAPI_TALOS_VERSION: v1.12.1
  CAPI_CONTROLPLANE_REPLICAS: "1"
  CAPI_WORKER_REPLICAS: "3"

  # Proxmox cluster / networking
  CAPI_CONTROL_PLANE_ENDPOINT: 192.168.169.220
  CAPI_NODE_IP_RANGES: '["192.168.169.210-192.168.169.219"]'
  CAPI_NODE_IP_PREFIX: "24"
  CAPI_NODE_GATEWAY: 192.168.169.1
  CAPI_DNS_SERVERS: '["192.168.169.1","1.1.1.1"]'
  CAPI_PROXMOX_ALLOWED_NODES: '["shiro"]'
  CAPI_PROXMOX_SOURCE_NODE: shiro
  CAPI_PROXMOX_TEMPLATE_ID: "9000"
  CAPI_PROXMOX_BRIDGE: vmbr0
  CAPI_PROXMOX_FORMAT: qcow2
  CAPI_PROXMOX_FULL: "true"
  CAPI_PROXMOX_BOOT_VOLUME_DISK: scsi0
  CAPI_PROXMOX_BOOT_VOLUME_SIZE_GB: "20"
