---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: grafana
  labels:
    app.kubernetes.io/name: grafana
spec:
  endpoints:
    - port: grafana
      path: /metrics
      interval: 30s
  selector:
    matchLabels:
      app.kubernetes.io/name: grafana

