---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tsdb-config
data:
  config.hujson: |
    {
      "tailscale": {
        "hostname": "${LOCATION}-tsdb",
        "state_dir": "/data/tsdb",
        "tags": ["tag:k8s", "tag:${LOCATION}"],
        "client_id": "${TS_OAUTH_CLIENT_ID}",
        "client_secret": "${TS_OAUTH_CLIENT_SECRET}"
      },
      "connector": {
        "admin_port": 8080,
        "log_level": "info"
      },
      "databases": {
        "jellystat": {
          "engine": "postgres",
          "host": "jellystat-postgres-rw.media.svc.cluster.local",
          "port": 5432,
          "ca_file": "/etc/tsdb/certs/ca.crt",
          "admin_user": "postgres",
          "admin_password": "${DEFAULT_PASSWORD}"
        }
      }
    }
