---
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager
spec:
  route:
    receiver: discord
    groupBy:
      - alertname
      - cluster
      - job
    groupInterval: 5m
    groupWait: 1m
    repeatInterval: 12h
    routes:
      - receiver: blackhole
        matchers:
          - name: alertname
            value: InfoInhibitor
            matchType: "="
      - receiver: blackhole
        matchers:
          - name: alertname
            value: Watchdog
            matchType: "="
      - receiver: discord
        matchers:
          - name: severity
            value: critical|error|warning
            matchType: "=~"

  inhibitRules:
    - sourceMatch:
        - name: severity
          value: critical
          matchType: "="
      targetMatch:
        - name: severity
          value: error|warning|info
          matchType: "=~"
      equal:
        - namespace
        - alertname
    - sourceMatch:
        - name: severity
          value: error
          matchType: "="
      targetMatch:
        - name: severity
          value: warning|info
          matchType: "=~"
      equal:
        - namespace
        - alertname
    - sourceMatch:
        - name: alertname
          value: InfoInhibitor
          matchType: "="
      targetMatch:
        - name: severity
          value: info
          matchType: "="
      equal:
        - namespace

  receivers:
    - name: blackhole
    - name: discord
      discordConfigs:
        - sendResolved: true
          apiURL:
            name: alertmanager-secret
            key: DISCORD_ALERTMANAGER_WEBHOOK_URL
          title: >-
            [${CLUSTER_NAME}] [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]
            {{ .GroupLabels.alertname }}
          message: |-
            {{- range .Alerts }}
              {{- if ne .Annotations.description "" }}
                {{ .Annotations.description }}
              {{- else if ne .Annotations.summary "" }}
                {{ .Annotations.summary }}
              {{- else if ne .Annotations.message "" }}
                {{ .Annotations.message }}
              {{- else }}
                Alert description not available
              {{- end }}
              {{- if gt (len .Labels.SortedPairs) 0 }}
                Labels:
                {{- range .Labels.SortedPairs }}
                  {{ .Name }}: {{ .Value }}
                {{- end }}
              {{- end }}
            {{- end }}

