# Example talsecret.sops.yaml file
# Generate real secrets using: mise run init
# This will create and encrypt the secrets with SOPS
#
# The actual file will contain encrypted versions of:
# - cluster secrets (token, CA certificates)
# - machine secrets (certificates, keys)
# - trustdinfo (bootstrap data)
#
# DO NOT commit the unencrypted talsecret.yaml file!
# Only commit the encrypted talsecret.sops.yaml file.
