---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    events {}
    http {
      # Trust proxy headers from common private ranges
      set_real_ip_from 10.0.0.0/8;
      set_real_ip_from 172.16.0.0/12;
      set_real_ip_from 192.168.0.0/16;
      set_real_ip_from 100.64.0.0/10;
      real_ip_header X-Forwarded-For;
      real_ip_recursive on;

      log_format custom '$remote_addr - $realip_remote_addr [$time_local] "$request" '
                        '$status $body_bytes_sent '
                        'xff="$http_x_forwarded_for" '
                        'xrip="$http_x_real_ip" '
                        'xfp="$http_x_forwarded_proto" '
                        'host="$http_host" '
                        'ua="$http_user_agent"';
      access_log /dev/stdout custom;
      error_log /dev/stderr;

      server {
        listen 80;

        location / {
          default_type text/plain;
          return 200 "Hello, World! I'm from ${LOCATION}!\n\nHeaders:\nHost: $http_host\nX-Forwarded-For: $http_x_forwarded_for\nX-Real-IP: $http_x_real_ip\nX-Forwarded-Proto: $http_x_forwarded_proto\nX-Forwarded-Host: $http_x_forwarded_host\nX-Forwarded-Port: $http_x_forwarded_port\nRemote Addr: $remote_addr\nReal IP: $realip_remote_addr\n";
        }
      }
    } 
