---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
      # annotations:
      #   tailcar.rajsingh.info/inject: "true"
      #   tailcar.rajsingh.info/tailnet: keiretsu-labs-github
    spec:
      containers:
      - name: echo-server
        image: ealen/echo-server:latest
        env:
        - name: PORT
          value: "80"
        ports:
        - containerPort: 80 
