---
# ClusterSecretStore for Ottawa cluster
# Uses Tailscale egress service - auth handled by Tailscale impersonation
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: kubernetes-ottawa
spec:
  provider:
    kubernetes:
      remoteNamespace: external-secrets
      server:
        # Use in-cluster ExternalName service that routes through Tailscale
        url: https://ottawa-k8s-operator.keiretsu.ts.net
        # Tailscale API proxy uses Let's Encrypt certs - trusted by default
      auth:
        token:
          bearerToken:
            name: tailscale-api-token
            namespace: external-secrets
            key: token
---
# ClusterSecretStore for Robbinsdale cluster
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: kubernetes-robbinsdale
spec:
  provider:
    kubernetes:
      remoteNamespace: external-secrets
      server:
        url: https://robbinsdale-k8s-operator.keiretsu.ts.net
      auth:
        token:
          bearerToken:
            name: tailscale-api-token
            namespace: external-secrets
            key: token
---
# ClusterSecretStore for St. Petersburg cluster
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: kubernetes-stpetersburg
spec:
  provider:
    kubernetes:
      remoteNamespace: external-secrets
      server:
        url: https://stpetersburg-k8s-operator.keiretsu.ts.net
      auth:
        token:
          bearerToken:
            name: tailscale-api-token
            namespace: external-secrets
            key: token
---
# ClusterSecretStore for local cluster secrets
# Uses in-cluster auth via ServiceAccount
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: kubernetes-local
spec:
  provider:
    kubernetes:
      remoteNamespace: external-secrets
      server:
        url: https://kubernetes.default.svc
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          namespace: external-secrets
          key: ca.crt
      auth:
        serviceAccount:
          name: external-secrets-store
          namespace: external-secrets
