---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: flux-kube-state-metrics-config
      valuesKey: kube-state-metrics-config.yaml
  values:
    cleanPrometheusOperatorObjectNames: true
    grafana:
      enabled: false

    prometheusOperator:
      admissionWebhooks:
        enabled: true
    prometheus:
      prometheusSpec:
        serviceMonitorSelector: {}
        externalUrl: https://prometheus.${CLUSTER_DOMAIN}
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        enableRemoteWriteReceiver: true
        enableFeatures:
          - exemplar-storage
        retention: 14d
        retentionSize: 100GB
        resources:
          requests:
            cpu: 100m
            memory: 1Gi
          limits:
            memory: 4Gi
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 75Gi

    alertmanager:
      enabled: true
      alertmanagerSpec:
        alertmanagerConfigSelector:
          matchLabels:
            team: monitoring
        externalUrl: https://alertmanager.${CLUSTER_DOMAIN}
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
          limits:
            memory: 100Mi
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 1Gi

    kubeProxy:
      enabled: false

    kubeControllerManager:
      enabled: true

    kubeScheduler:
      enabled: true

    kubeEtcd:
      enabled: true


    kube-state-metrics:
      enabled: true