---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ocirepository.yaml
  - helmrelease-kube-prometheus-stack.yaml
  - service.yaml
  - egress.yaml
configMapGenerator:
  - name: flux-kube-state-metrics-config
    files:
      - kube-state-metrics-config.yaml
    options:
      labels:
        app.kubernetes.io/part-of: flux
        app.kubernetes.io/component: monitoring
generatorOptions:
  disableNameSuffixHash: true
configurations:
  - kustomizeconfig.yaml

