---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app grafana-operator
spec:
  chartRef:
    kind: OCIRepository
    name: grafana-operator
  interval: 1h
  values:
    fullnameOverride: *app
    serviceMonitor:
      enabled: true
    # Watch all namespaces (default behavior when namespaceScope: false)
    namespaceScope: false
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 256Mi
