---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openclaw-data
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-block-replicated
  resources:
    requests:
      storage: 5Gi
