---
apiVersion: v1
kind: Service
metadata:
  name: kube-dns-ts
  namespace: kube-system
  annotations:
    tailscale.com/hostname: "${LOCATION}-coredns"
    tailscale.com/proxy-class: common
    tailscale.com/tags: "tag:k8s"
spec:
  ports:
  - name: dns
    port: 53
    protocol: UDP
    targetPort: 53
  - name: dns-tcp
    port: 53
    protocol: TCP
    targetPort: 53
  - name: metrics
    port: 9153
    protocol: TCP
    targetPort: 9153
  selector:
    k8s-app: kube-dns
  sessionAffinity: None
  type: LoadBalancer
  loadBalancerClass: tailscale
  
