---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${LOCATION}-workload-identity
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: ${LOCATION}-workload-identity
  template:
    metadata:
      labels:
        app: ${LOCATION}-workload-identity
    spec:
      serviceAccountName: tailscale
      initContainers:
        - name: sysctler
          image: ghcr.io/tailscale/tailscale:latest
          imagePullPolicy: Always
          command: ["/bin/sh", "-c"]
          args:
            - |
              sysctl -w net.ipv4.ip_forward=1
              if sysctl net.ipv6.conf.all.forwarding; then
                sysctl -w net.ipv6.conf.all.forwarding=1
              fi
          securityContext:
            privileged: true
      containers:
        - name: tailscale
          image: ghcr.io/rajsinghtech/tailscale/tailscale:80
          imagePullPolicy: Always
          securityContext:
            privileged: true
          env:
            - name: TS_KUBE_SECRET
              value: ""
            - name: TS_USERSPACE
              value: "false"
            - name: TS_DEBUG_FIREWALL_MODE
              value: auto
            - name: TS_ACCEPT_DNS
              value: "true"
            - name: TS_EXTRA_ARGS
              value: "--advertise-tags=tag:k8s,tag:${LOCATION} --accept-routes --ssh"
            - name: TS_HOSTNAME
              value: "${LOCATION}-workload-identity"
            - name: TS_CLIENT_ID
              value: "TbqNGJkY5611CNTRL-kF8VA8GYua11CNTRL"
            - name: TS_ID_TOKEN
              value: "file:/var/run/secrets/tailscale/serviceaccount/token"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
          volumeMounts:
            - name: tailscale-token
              mountPath: /var/run/secrets/tailscale/serviceaccount
              readOnly: true
      volumes:
        - name: tailscale-token
          projected:
            sources:
              - serviceAccountToken:
                  audience: "api.tailscale.com/TbqNGJkY5611CNTRL-kF8VA8GYua11CNTRL"
                  expirationSeconds: 3600
                  path: token

